<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Registra tu cuenta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css " rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/style-register.css">
</head>

<body>
    <header class="main-header">
        <div class="top-header">
            <div class="logo">
                <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>

            <form class="form" action="#" method="GET">
                <input type="text" name="search" class="search-bar" placeholder="     Buscar productos, marcas y más">
            </form>


            <h2>
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>

        </div>

        <nav>
            <div class="nav-left">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="nav-right">
                <ul>
                    <li><a href="register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </div>

        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>

    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>


    <main>

        <form class="register-form" action="home.html" method="post">
            <ul>

                <!-- NOMBRE -->
                <li><input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" required></li>



                <!-- USUARIO -->
                <li><input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" required></li>


                <!-- EMAIL -->
                <li><input type="email" name="email" id="email" placeholder="E-mail" required></li>


                <!-- DOMICILIO -->
                <li><input type="text" name="domicilio" id="domiciolio" placeholder="Domicilio" required></li>

                <!-- NACIMIENTO -->
                <li><label for="fecha-nacimiento"><h4>Fecha de nacimiento</h4></label></li>
                <li> <input type="date" name="fecha-nacimiento" id="fecha-nacimiento" required></li>

                
                <!-- PERFIL -->
                <li><label><h4>Perfil de usuario</h4></label></li>

                <li><input type="radio" value="comprador" name="perfil" id="comprador">
                <label for="comprador">Comprador</label>

                <input type="radio" value="vendedor" name="perfil" id="vendedor">
                <label for="vendedor">Vendedor</label> </li>

                <!-- INTERESES -->
                <li><label for="intereses"><h4>Intereses</h4></label></li>

                <li><input type="checkbox" value="Electro" name="Electro" id="Electro">
                    <label for="Electro">Electro</label>
                </li>

                <li><input type="checkbox" value="Moda" name="Moda" id="Moda">
                    <label for="Moda">Moda</label>
                </li>

                <li><input type="checkbox" value="Hogar" name="Hogar" id="Hogar">
                    <label for="Hogar">Hogar</label>
                </li>

                <li> <input type="checkbox" value="Juguetería" name="Juguetería" id="Juguetería">
                    <label for="Vida sana">Juguetería</label>
                </li>

                <li><input type="checkbox" value="Vida sana" name="Vida sana" id="Vida sana">
                    <label for="Vida sana">Vida sana</label>
                </li>

                <!-- FOTO -->
                <li><label for="foto">Foto de Usuario:</label></li>
                <li><input type="file" value="foto" id="foto" required></li>

                <!-- PASSWORD -->
                <li><label for="contraseña">Contraseña:</label></li>
                <li><input type="password" name="contraseña" id="contraseña" required></li>

                <li><label for="contraseña2">Confirmar contraseña</label></li>
                <li><input type="password" name="contraseña2" id="contraseña2" required></li>

                <li><button type="submit">Registrarse</button></li>
                
                <li><button type="reset">Borrar datos</button></li>



            </ul>





        </form>





    </main>


    <footer>
        <div>
            <img src="images/icons/credit-card-solid.svg" alt="">
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div>
            <img src="images/icons/gift-solid.svg" alt="">
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div>
            <img src="images/icons/user-shield-solid.svg" alt="">
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>

        <div>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>

    </footer>

</body>

</html>