/* GENERAL */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3 {
    font-size: 24px;
}

p,
.price {
    font-size: 18px;
}

h3,
.description {
    color: #666;
}

/* HEADER */

header {
    background-color: #EAC926;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}

.logo {
    width: 50%;
    padding: 10px;
}

header h2 {
    align-self: center;

}

.search-bar {
    width: 70%;
    border-radius: 26px;
    border: 1px solid #ada9a9;
    padding: 1% 6%;
    margin: 1% 1%;

    background-image: url(https://www.pngarea.com/pngm/109/1164446_searchicon-png-search-icon-png-download.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 12px;
    background-size: 16px;
    outline: 0;
}

header ul li {
    list-style-type: none;
    font-size: large;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

header .top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;

    font-size: 20px;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 8px 0px 15px 0px;
}

nav,
.description {
    display: none;
}

/* MAIN */

section.banner img {
    width: 100%;
    margin-top: 200px;
}

main {
    width: 90%;
    margin: auto;
}

main section article {
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    text-align: center;
    border-top: 1px solid #ebebeb;    
}

.main-article {
    width: 100%;
    border-top: #ebebeb solid 1px;
    position: relative;
}

main section article img {
    width: 60%;
}

main section article i,
.discount {
    color: #39b54a;
    transition: all 1s;
}

main section article i {
    position: absolute;
    right: 25px;
    top: -10px;
}

.main-article-numbers {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 5px;    
}

.discount,
.description {
    font-size: 16px;
    font-weight: normal;
}

.discount {
    align-self: center;
}

.price {
    margin-right: 10px;
}

/* MAIN > CAMBIOS HOVER */

.description {
    visibility: hidden;
}

article:hover .description {
    visibility: visible;
}

article:hover i {
    transform: rotatex(180deg);
}



/* FOOTER */

footer {
    padding: 10px;
    margin-top: 2rem;
    background-color: #fff;
    border-top: 1px solid #ebebeb;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);    
}

footer div {
    text-align: center;
    margin-bottom: 2rem;
}

footer p {
    max-width: 350px;
    text-align: center;
    margin: auto;
}


footer img {
    width: 2rem;
    margin: 1rem;
}



/* MEDIA-QUERIES I */

@media (min-width: 700px) {


    /* hover y display */
    main section article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    nav,
    .description {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    /* RESPONSIVE */

    /* logo,search-bar,icon */
    .top-header {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        width: 30%;
        padding: 10px;
    }

    .form {
        align-self: center;
    }

    .search-bar {
        width: 120%;
        border-radius: 26px;
        border: 1px solid #ada9a9;
        padding: 1% 6%;
        margin: 1% 1%;
        align-items: center;
    }

    header h2 {
        max-width: 350px;
        text-align: right;
    }

    /* nav */
    nav {
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin: 0 8px;
    }

    /* banner */
    section.banner img {
        width: 100%;
        margin-top: 120px;
    }
}

/* MEDIA-QUERIES II */

@media (min-width: 700px) and (max-width:1199px) {
    .search-bar {
        width: 100%;
        margin: auto;
        font-size: larger;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
    }

    article {
        width: 40vw;
    }
}


/* MEDIA-QUERIES III */

@media(min-width: 1200px) {

    /* header */
    .top-header,
    nav {
        max-width: 1500px;
        margin: auto;
    }

    .search-bar {
        width: 100%;
        margin: auto;
        font-size: larger;
    }

    nav li {
        margin: 0 12px;
    }

    nav a {
        font-size: 22px;
        font-weight: 400;
    }

    header h2 {
        max-width: none;
        margin: 0;
    }

    /* main */
    .products {
        display: flex;
        justify-content: space-between;
    }


    /* footer */
    footer {
        display: flex;
        position: relative;
        justify-content: space-around;
    }

    footer .copyright {
        position: absolute;
        margin: 1rem;
        bottom: 0;
        left: 10px;
    }
}