 /* GENERAL */

 main{
    background-color: #ebebeb;
    width: 100%;
 }

 .container-login{
    margin-top: 250px;
  }
 
 footer{
    margin:0;
 }

 /* FORM */
 
 .login-form {
     margin: auto;
     max-width: 700px;
     padding: 1rem;
     text-align: center;
 }

 .login-form ul,
 .login-form li,
 .login-form input {
     width: 100%;
 }

 .login-form li {
     margin: 1rem;
     padding: 1rem;
 }

 .login-form input {
     font-size: larger;
     padding: 0.5rem;
 }

 /* button */
 .login-form button {
     width: 100%;
     transition: 1s;
 }

 .login-form button:hover{
    background-color: #0022AA ;
 }