/* GENERAL */

body {
  background-color: #ebebeb;
}

header {
  margin-bottom: 2rem;
}


/* FORM */

.container-register {
  margin-top: 250px;
}

.register-form {
  background-color: white;
  width: 300px;
  padding: 1rem;
  margin: auto;
  text-align: center;

  border: 1px solid #ebebeb;
  border-radius: 1em;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);

}

/* ul+li */
ul {
  list-style: none;
  padding: 1rem;
  margin: 0;

}

input,
label {
  font-size: large;
  text-align: center;
}

form li+li {
  margin-top: 1em;

}

input:focus {
  border-color: #000;
}

/* button */
button {
  font-size: 15px;
  font-weight: bold;

  width: 140px;
  height: 50px;

  color: #ffffff;
  background: linear-gradient(#0044AA, #1e62d0);
  border-color: #0044AA;

  border-radius: 22px;
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  text-shadow: inset 0px 1px 0px;
}

button:hover {
  background: linear-gradient(#0044AA, #3d94f6);
}